canvas {
	border: 1px solid #000000;
	margin: 5px 5px 5px 10px;
}

ul.collection.with-header {
	overflow-y: scroll;
}

p#coordinate {
	margin: 0;
	font-size: 20px;
}

span.secondary-content {
	cursor: pointer;
}

input[type=file] {
	width    : 0.1px;
	height   : 0.1px;
	opacity  : 0;
	position : absolute;
	z-index  : -1;
	overflow : hidden;
}
